body
{
 padding: 100px;
 font-family: garamond;
}
#one
 {
 background-color: yellow;
 margin: 0px, 100px, 0px, 100px;
 }
#two
{
 padding: 100px, 100px, 100px, 100px;
}
#three
{
 border: dotted;
}
#four
{
 width: 49%;
 float: left;
 padding 1% right;
 border: none;
}
#five
{ width: 49%;
 float: left;
 padding 1% right;
 border: none;
}

