/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browserarticle, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

*, html 
{
    margin: 0;
    padding: 0;
}

header, section, footer 
{
    display: block;
    width: 100%;
}

/* Begin Page Styling */

td
{ 
 color: red;
}

body
{ 
 font-family: Consolas;
 background-color: black;
 color: white;
 padding: 25px;}

a
{
    
}

header
{    

text-align: center;
height: 15em;

}

h1
{
    font-size: 24pt;
    
}




/*
 *
 * # id="one"
 * . class="two" 
 * 
 *
 *
 * */

/*
 * 
 * classes
 * 
 * 
 * 
 * 
 * 
 */
.credits-page-body
{
   background-color: black;
    
}
.splash_page
{
    background-color: black;
    
}
.arts-214
{
    background-color: black;
    color: wheat;
}
.links
{
 font-family: Optima;
 color: red;	
}

/*
 * 
 * id selector
 * 
 * 
 * 
 * 
 * 
 */

#banner
{ 
width: 100%;
position: relative;
background-size: cover; 

}
#bannertext
{
position: absolute;

}
/*
 * 
 * Main Calls
 * 
 * 
 * 
 * 
 * 
 */





// GRID OF TWO ######################################

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2.0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2.0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

//  #########################################


